@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Lobster&display=swap");

/* General Styles */
* {
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros",
        TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo,
        Helvetica, Arial, sans-serif;
}

body {
    background: linear-gradient(to left top, #432052, #0e1036) fixed;
}

/* Animations */
@keyframes twinkle {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

/* Stars */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 0.5vw;
    height: 0.5vw;
    background-color: orange;
    border-radius: 20%;
    box-shadow: 0 0 10px orange;
}

/* Greetings */
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.greeting {
    position: fixed;
    color: white;
    font-size: 10vw;
}

.name {
    overflow: hidden;
    display: block;
    animation: typing 2s forwards;
    font-family: var(--font);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12vw;
}
